# #commentaire :ici je demande l'activation la réécriture d'url
RewriteEngine On

# #commentaire : eviter de lister les fichiers directements via la barre d'url ( sécurité )
# #commentaire : f = fichier
# #commentaire : d = dossier
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !create
# #commentaire : ici permet la réécriture d'url avec le numéro de la page demander
# RewriteRule ^(.*)$ manage-data.php?key=$1
# RewriteEngine On # Activer le module Rewrite
# RewriteRule ^/?$ manage-data.php [NC,L]
# RewriteRule ^[^/]+/(\d+)$ manage-data.php?key=$1
# RewriteEngine On

RewriteRule (.*) manage-data.php?key=$1

